.addPanel {
    position: absolute;
    top: 0.2vw;
    left: 45%;
    color: #f5efef;
    font-size: 1.1vw;
    font-family: inherit;
    border: 1px solid goldenrod;
    border-radius: 1vw;
    padding: 0.5vw;
    opacity: 0.2;
    cursor: pointer;
    z-index: 999;
    transition: all 0.5s ease-in-out;
}

.addPanel:hover {
    opacity: 1;
    top: 0.7vw;
}